@layer reset {
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    }

    body {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    }
}

@layer swiper {
.swiper {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    /* --needed-- */
    width: 80vw;
    touch-action: pan-y;
    overflow: hidden;
}
.swiper .container {
    background-color: rgb(172, 171, 171);
    transition: .2s;
    padding: 20px;
    /* --needed-- */
    display: flex;
    gap: 20px;
    width: max-content;
}
.swiper .container .card {
    background-color: rgb(134, 134, 134);
    padding: 10px;
    /* --needed-- */
    transition: .2s;
}
.swiper .container .card .content {
    background-color: rgb(77, 77, 77);
    color: rgb(201, 225, 241);
    /* --needed-- */
    width: 300px;
    height: 360px;

    pointer-events: none;
    user-select: none;
}
.swiper .btn {
    user-select: none;
}
.swiper .btn.disabled {
    pointer-events: none;
    opacity: .2;
}
.swiper .container, .swiper .container .card {
    &.isDragging {
        transition: none;
    }
}
}